.container {
  min-height: 700px;
  margin-top: 50px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
  margin-top: 3rem;
}


.inputField {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

.inputSelect {
  width: 100%;
  height: 50px;
  max-width: 400px;
  margin-bottom: 15px;
}

.inputButtonField {
  width: 100%;
  max-width: 400px;
}

.inputButtonField {
  width: 100%;
  max-width: 400px;
}

.inputButton {
  width: 100%;
}
